.choices-region {
	grid-column: 2 span;
	display: flex;
	align-items: center;

	@include big-desktop {
		grid-column: 3 span;
	}

	@include mobile {
		grid-column: 4 span;
		grid-row: 2;
	}

	.is-focused.choices {
		background-color: var(--color-blue-chalk);
		transition: background-color .3s ease-in-out;
	}

	.is-focused.choices[data-type*=select-one] .choices__inner {
		color: var(--color-heart);
	}

	.is-focused.choices[data-type*=select-one]::after,
	.is-focused.choices[data-type*=select-one].is-open:after {
		border-color: var(--color-heart);
	}

	.choices:hover,
	.choices[data-type*=select-one] .choices__inner:hover,
	.choices[data-type*=select-one]:hover::after,
	.choices[data-type*=select-one].is-open:hover:after {
		border-color: var(--color-btn-focus);
		color: var(--color-btn-focus);
		background-color: transparent;
		transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
	}

	.choices:active,
	.choices[data-type*=select-one] .choices__inner:active,
	.choices[data-type*=select-one]:active::after,
	.choices[data-type*=select-one].is-open:active:after {
		border-color: var(--color-heart);
		color: var(--color-heart);
		background-color: transparent;
		transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
	}


	.choices__inner {
		padding: 0;
		min-height: 23px;
	}

	.choices__list--single {
		padding: 2px 20px 0 0;
	}

	.choices[data-type*=select-one] .choices__inner {
		padding: 0;
		border: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: var(--color-purple);
		background-color: transparent;
	}

	.choices[data-type*=select-one]::after {
		right: 3px;
		width: 8px;
		margin-top: -6px;
		border-width: 0px;
		border-right: 1px solid var(--color-purple);
		border-top: 1px solid var(--color-purple);
		height: 8px;
		transform: rotate(135deg);
	}

	.choices[data-type*=select-one].is-open:after {
		margin-top: -2px;
		border-width: 0px;
		border-left: 1px solid var(--color-purple);
		border-bottom: 1px solid var(--color-purple);
	}

	.choices__list--dropdown {
		max-width: 200px;
	}

	.choices__list--dropdown.is-active {
		border: 2px solid var(--color-alabaster);
		border-radius: 0;
		min-width: 84px;
		color: var(--text-color);
		background-color: var(--light-color);
		transform: translateX(-3px);
	}

	.choices__list--dropdown .choices__item {
		z-index: 10;
		padding: 0;
		padding: 10px 0 5px 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 130%;
	}

	.choices__list--dropdown .choices__list {
		min-width: 84px;
	}

	.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
		display: none;
	}

	.choices__list--dropdown .choices__item--selectable.is-highlighted {
		color: var(--text-color);
		background-color: #f8efff;
	}

	.is-selected {
		display: none;
	}

	&__text {
		margin-right: 4px;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: var(--text-color);
	}
}
