.top {
  padding-bottom: 70px;

  @include mobile {
    padding-bottom: 78px;
  }

  &__title {
    margin-bottom: 26px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2;
    gap: 32px;

    @include big-desktop {
      grid-template-columns: repeat(9, 1fr);
    }

    @include big-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      gap: 32px 16px;
    }
  }

  &__item {
    grid-column: 6 span;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 0 30px 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--color-alabaster);

    &:nth-child(n + 3) {
      grid-column: 4 span;
    }

    @include big-desktop {
      padding: 28px 0;
      min-height: 511px;

      &:nth-child(2) {
        grid-column: 4 / 7;
        grid-row: 2;
      }

      &:nth-child(3) {
        grid-column: 7 / 10;
        grid-row: 1;
      }

      &:nth-child(4) {
        grid-column: 1 / 4;
        grid-row: 2;
      }

      &:nth-child(5) {
        grid-column: 7 / 10;
        grid-row: 2;
      }
    }

    @include big-tablet {
      &:nth-child(1) {
        grid-column: 6 span;
        grid-row: 1;
      }

      &:nth-child(2) {
        grid-column: 4 / 7;
        grid-row: 2;
      }

      &:nth-child(3) {
        grid-column: 3 span;
        grid-row: 2;
      }

      &:nth-child(4) {
        grid-column: 3 span;
        grid-row: 3;
      }

      &:nth-child(5) {
        grid-column: 3 span;
        grid-row: 3;
      }
    }

    @include mobile {
      &:nth-child(1) {
        padding-bottom: 10px;
        min-height: 332px;
      }

      &:nth-child(n + 2) {
        padding: 11px 0;
        min-height: 206px;
      }

      &:nth-child(n + 2) .subcategory {
        margin-bottom: 8px;
        padding: 0 16px;
      }

      &:nth-child(n + 2) .subcategory__item {
        line-height: 15px;
      }

      &:nth-child(n + 2) .subcategory__link {
        font-size: 10px;
      }

      &:nth-child(n + 2) .top__subtitle {
        margin-bottom: 16px;
        padding: 0 16px;
        max-width: 140px;
        font-size: 16px;
        line-height: 17px;
      }

      &:nth-child(n + 2) .top__subtitle svg {
        transform: translateX(1px);
        vertical-align: text-bottom;
      }
    }
  }

  .subcategory {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 13px;
    padding: 0 30px;
    width: 100%;

    @include mobile {
      margin-bottom: 11px;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 30px;

        @include mobile {
          margin-right: 21px;
        }
      }

      &--chair {
        &:first-child {
          margin-right: 43px;
        }
      }

      &--dresser {
        &:first-child {
          margin-right: 27px;
        }
      }
    }

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: var(--color-gray);
      transition: background-color .3s ease-in-out, color .3s ease-in-out;

      &:focus-visible {
        outline: none;
        background-color: var(--color-blue-chalk);
        color: var(--text-color);
      }

      &:hover {
        background-color: transparent;
        color: var(--color-purple);
      }

      &:active {
        background-color: transparent;
        color: var(--color-heart);
      }
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    pointer-events: none;
    color: var(--text-color);

    @include mobile {
      margin-bottom: 13px;
    }

    &--adaptive {
      @include big-desktop {
        margin-bottom: 35px;
      }
    }

    &-link {
      display: none;
      border: 2px solid var(--color-purple);
      border-radius: 100px;
      width: 22px;
      height: 22px;
      color: var(--color-purple);
      transform: translateX(5px);
      cursor: pointer;
      transition: background-color .3s linear, border-color .3s linear;

      &--mobile {
        transform: translate(-5px, 12px);
      }

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
          width: 6px;
          height: 10px;
          fill: none;
          stroke: currentColor;
          stroke-width: 2px;
          transition: stroke .3s linear;
        }
      }
    }
  }

  &__image {
    margin-bottom: 29px;

    @include big-desktop {
      margin: 0;
    }

    &--adaptive {
      @include big-desktop {
        width: 252px;
      }
    }

    &--adaptive-armchairs {
      @include big-desktop {
        width: 260px;
      }
    }

    &--adaptive-chair {
      @include big-desktop {
        width: 265px;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-purple);
    transition: color .3s linear;

    @include big-tablet {
      margin-left: 30px;
    }

    @include mobile {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid transparent;
      width: 77%;
      transform: translateY(3px);
      transition: transform 0.3s linear;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--color-purple);
      border-radius: 100px;
      width: 22px;
      height: 22px;
      transform: translateX(5px);
      transition: background-color .3s linear, border-color .3s linear;

      svg {
        width: 6px;
        height: 10px;
        fill: none;
        stroke: currentColor;
        stroke-width: 2px;
        transition: stroke .3s linear;
      }
    }

    &:focus-visible {
      outline: none;

      span {
        background-color: var(--color-btn-focus);
      }

      svg {
        stroke: var(--light-color);
      }
    }

    &:focus-visible::after {
      border-color: inherit;
      transform: translateY(-2px);
      transition: transform .2s linear;
    }

    &:hover {
      span {
        background-color: var(--color-purple);
      }

      svg {
        stroke: var(--light-color);
      }
    }

    &:hover::after {
      border-color: inherit;
      transform: translateY(-1px);
      transition: transform .2s linear;
    }

    &:active {
      color: var(--color-heart);

      span {
        border-color: var(--color-heart);
        background-color: var(--color-heart);
      }

      svg {
        stroke: var(--light-color);
      }
    }

    &:active::after {
      border-color: inherit;
      transition: border-color .2s linear;
    }

    &-text {
      display: none;
    }
  }
}

.top__item:not(:first-child) .subcategory {
  @include small-tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}
