<section class="sofa-description">
  <div class="container">
    <h1 class="visually-hidden">Информация о прямом тканевом диване D-31</h1>
    <ul class="list-reset breadcrumbs sofa-description__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/index.html" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/catalog.html" class="breadcrumbs__link">Каталог</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Диваны</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Прямые диваны</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">D-31</a>
      </li>
    </ul>

    <div class="sofa-description__content">
      <div class="sofa-images-slider">
        <ul class="list-reset swiper-wrapper sofa-images-slider__wrapper" data-graph-path="third">
          <li class="swiper-slide sofa-images-slider__item" tabindex="0">
            <img class="sofa-images-slider__image" loading="lazy" src="img/D-31/D-31.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-slider__item" tabindex="1">
            <img class="sofa-images-slider__image" loading="lazy" src="img/D-31/D-31-1.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-slider__item" tabindex="2">
            <img class="sofa-images-slider__image" loading="lazy" src="img/D-31/D-31-2.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-slider__item" tabindex="3">
            <img class="sofa-images-slider__image" loading="lazy" src="img/D-31/D-31-3.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-slider__item" tabindex="4">
            <img class="sofa-images-slider__image" loading="lazy" src="img/D-31/D-31-4.png"
              alt="Диван тканевый прямой D-31">
          </li>
        </ul>
      </div>
      <div class="sofa-images-nav">
        <ul class="list-reset swiper-wrapper sofa-images-nav__wrapper">
          <li class="swiper-slide sofa-images-nav__item">
            <img class="sofa-images-nav__image" loading="lazy" src="img/D-31/D-31.png" alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-nav__item">
            <img class="sofa-images-nav__image" loading="lazy" src="img/D-31/D-31-1.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-nav__item">
            <img class="sofa-images-nav__image" loading="lazy" src="img/D-31/D-31-2.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-nav__item">
            <img class="sofa-images-nav__image" loading="lazy" src="img/D-31/D-31-3.png"
              alt="Диван тканевый прямой D-31">
          </li>
          <li class="swiper-slide sofa-images-nav__item">
            <img class="sofa-images-nav__image" loading="lazy" src="img/D-31/D-31-4.png"
              alt="Диван тканевый прямой D-31">
          </li>
        </ul>
      </div>

      <div class="sofa-description__info">
        <span class="sofa-description__number">4,8</span>
        <h2 class="title sofa-description__title">Диван тканевый прямой &rsquo;&rsquo;D-31&rsquo;&rsquo;</h2>
        <span class="sofa-description__title-description">Мини 120 см без ящика Stark синий (Рогожка)</span>
        <span class="sofa-description__price">28 490 руб</span>
        <button class="btn-reset btn sofa-description__btn" data-graph-path="first" aria-label="Купить диван">Купить в
          один клик</button>
        <button class="btn-reset sofa-description__btn-basket" aria-label="Добавить в корзину">+ Добавить в
          корзину</button>
      </div>

      <div class="sofa-description__extra-info">
        <h3 class="sofa-description__subtitle">Опорный механизм</h3>
        <p class="sofa-description__descr">Опорный механизм напоминает пантограф, к которому добавили дополнительную
          секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места.
          Заключительный штрих — опустить спинку.</p>
        <p class="sofa-description__descr">Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы,
          чтобы разложить диван, но подросток справится.</p>
      </div>

      <div class="sofa-description__information product-information">
        <ul class="product-information__list list-reset">
          <li class="product-information__item">
            <span class="product-information__name">Гарантия</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">18 месяцев</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Артикул</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">AAA41269004</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Длина</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">163 см</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Высота</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">90 см</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Глубина</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">108 см</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Спальное место</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">200 см х 125 см</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Высота посадки</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">45 см</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Механизм</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Опорный</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Тип обивки</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Рогожка</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Цвет</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Синий</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Наполнитель</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Независимый пружинный блок</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Материал каркаса</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Металл. рама с дерев. латами</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Количество мест</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Двухместные</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Категория</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Прямые тканевые диваны</span>
          </li>
          <li class="product-information__item">
            <span class="product-information__name">Возврат</span>
            <span class="product-information__space"></span>
            <span class="product-information__value">Условия</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
