<section class="helpful">
  <div class="container helpful__container">
    <h2 class="title helpful__title">Полезное</h2>
    <div class="swiper-use">
      <button class="btn-reset swiper-use__btn prev" aria-label="Предыдущий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#btn-prev"></use>
        </svg>
      </button>
      <button class="btn-reset swiper-use__btn next" aria-label="Следующий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#btn-next"></use>
        </svg>
      </button>
    </div>
    <div class="swiper helpful__swiper">
      <ul class="swiper-wrapper list-reset helpful__list">
        <li class="swiper-slide helpful__item">
          <article class="helpful__article">
            <h2 class="visually-hidden">Первая статья</h2>
            <picture>
              <img class="helpful__image" loading="lazy" src="../img/helpful/helpful-1.jpg" width="624" height="426"
                alt="Пример изображения">
            </picture>
            <div class="helpful__content">
              <p class="helpful__descr">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют
                собой не что иное?</p>
              <button class="btn-reset btn btn--fill helpful__btn" aria-label="Кнопка читать">Читать</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide helpful__item">
          <article class="helpful__article">
            <h2 class="visually-hidden">Вторая статья</h2>
            <picture>
              <img class="helpful__image" loading="lazy" src="../img/helpful/helpful-2.jpg" width="624" height="426"
                alt="Пример изображения">
            </picture>
            <div class="helpful__content">
              <p class="helpful__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?
              </p>
              <button class="btn-reset btn btn--fill helpful__btn" aria-label="Кнопка читать">Читать</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide helpful__item">
          <article class="helpful__article">
            <h2 class="visually-hidden">Третья статья</h2>
            <picture>
              <img class="helpful__image" loading="lazy" src="../img/helpful/helpful-3.jpg" width="624" height="426"
                alt="Пример изображения">
            </picture>
            <div class="helpful__content">
              <p class="helpful__descr">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</p>
              <button class="btn-reset btn btn--fill helpful__btn" aria-label="Кнопка читать">Читать</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide helpful__item">
          <article class="helpful__article">
            <h2 class="visually-hidden">Четвертая статья</h2>
            <picture>
              <img class="helpful__image" loading="lazy" src="../img/helpful/helpful-4.jpg" width="624" height="426"
                alt="Пример изображения">
            </picture>
            <div class="helpful__content">
              <p class="helpful__descr">Прежде всего, консультация с широким активом однозначно фиксирует необходимость
                распределения?</p>
              <button class="btn-reset btn btn--fill helpful__btn" aria-label="Кнопка читать">Читать</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide helpful__item">
          <article class="helpful__article">
            <h2 class="visually-hidden">Пятая статья</h2>
            <picture>
              <img class="helpful__image" loading="lazy" src="../img/helpful/helpful-5.jpg" width="624" height="426"
                alt="Пример изображения">
            </picture>
            <div class="helpful__content">
              <p class="helpful__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?
              </p>
              <button class="btn-reset btn btn--fill helpful__btn" aria-label="Кнопка читать">Читать</button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
