<section class="hero">
  <h1 class="visually-hidden">SitDownPls - интернет-магазин мебели</h1>
  <div class="container hero__container">
    <div class="swiper hero__swiper">
      <div class="swiper-wrapper hero__swiper-wrapper">
        <div class="swiper-slide hero__swiper-slide hero__swiper-slide--discount">
          <div class="container hero__slide-container">
            <h2 class="hero__subtitle">Скидка 15% на первую покупку</h2>
            <a href="#" class="btn-reset btn hero__btn" aria-label="Получить скидку">Получить</a>
          </div>
        </div>
        <div class="swiper-slide hero__swiper-slide hero__swiper-slide--accessories">
          <div class="container hero__slide-container">
            <h2 class="hero__subtitle">1000+ аксессуаров для дома</h2>
            <a href="#" class="btn-reset btn hero__btn" aria-label="Подробнее об аксессуарах">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide hero__swiper-slide hero__swiper-slide--collection">
          <div class="container hero__slide-container">
            <h2 class="hero__subtitle hero__subtitle--collection">Коллекция стильного и яркого текстиля</h2>
            <a href="#" class="btn-reset btn hero__btn" aria-label="Подробнее о коллекции">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination hero__swiper-pagination"></div>
    </div>
  </div>
</section>
