<section class="raiting">
  <div class="container raiting__container">
    <h2 class="title raiting__title">Высокий рейтинг</h2>
    <ul class="list-reset raiting__list">
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">5,0</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-R-94.png" width="266" height="82"
              alt="Диван кожаный R-94">
          </picture>
          <div class="product__wrap">
            <h3 class="product__subtitle">Диван кожаный<br> &rsquo;&rsquo;R-94&rsquo;&rsquo;</h3>
            <span class="product__price">94 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,9</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-T-75.png" width="261" height="101"
              alt="Диван апартековый T-75">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle product__subtitle--adaptive">Диван
              апартековый<br>&rsquo;&rsquo;T-75&rsquo;&rsquo;</h3>
            <span class="product__price">69 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,8</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-D-31.png" width="262" height="103"
              alt="Диван тканевый D-31">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван тканевый<br> &rsquo;&rsquo;D-31&rsquo;&rsquo;</h3>
            <span class="product__price">28 490 руб</span>
            <a href="/D-31.html" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,8</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-Y-68.png" width="257" height="125"
              alt="Диван велюровый Y-68">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван велюровый<br> &rsquo;&rsquo;Y-68&rsquo;&rsquo;</h3>
            <span class="product__price">22 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,8</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-W-95.png" width="265" height="117"
              alt="Диван из шинила W-95">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван из шинила<br> &rsquo;&rsquo;W-95&rsquo;&rsquo;</h3>
            <span class="product__price">22 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,8</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-G-41.png" width="271" height="117"
              alt="Диван флоковый G-41">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван флоковый<br> &rsquo;&rsquo;G-41&rsquo;&rsquo;</h3>
            <span class="product__price">17 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,8</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-V-43.png" width="266" height="130"
              alt="Диван шиниловый V-43">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван шиниловый<br> &rsquo;&rsquo;V-43&rsquo;&rsquo;</h3>
            <span class="product__price">19 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,7</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-S-99.png" width="212" height="124"
              alt="Диван велюровый S-99">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван велюровый<br> &rsquo;&rsquo;S-99&rsquo;&rsquo;</h3>
            <span class="product__price">19 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,7</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-F-85.png" width="262" height="125"
              alt="Диван из кожзама F-85">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван из кожзама<br> &rsquo;&rsquo;F-85&rsquo;&rsquo;</h3>
            <span class="product__price">26 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,6</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-H-64.png" width="251" height="130"
              alt="Диван флоковый H-64">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван флоковый<br> &rsquo;&rsquo;H-64&rsquo;&rsquo;</h3>
            <span class="product__price">25 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,6</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-H-58.png" width="233" height="133"
              alt="Диван флоковый H-58">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван флоковый<br> &rsquo;&rsquo;H-58&rsquo;&rsquo;</h3>
            <span class="product__price">23 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
      <li class="product raiting__item">
        <article class="product__article">
          <div class="product__grade">
            <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15" height="15"
              aria-hidden="true" alt="Звезда">
            <span class="product__grade-number">4,6</span>
          </div>
          <picture class="product__pic">
            <img class="product__image" loading="lazy" src="../img/raiting/raiting-R-43.png" width="212" height="124"
              alt="Диван из кожзама R-43">
          </picture>
          <div class="product__wrap raiting__item-content">
            <h3 class="product__subtitle">Диван из кожзама<br> &rsquo;&rsquo;R-43&rsquo;&rsquo;</h3>
            <span class="product__price">33 990 руб</span>
            <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
          </div>
        </article>
      </li>
    </ul>
    <button class="btn-reset btn raiting__btn-hide" aria-label="Кнопка смотреть больше товаров">Смотреть больше
      товаров</button>
  </div>
</section>
