<section class="similar">
  <div class="container similar__container">
    <h2 class="title similar__title">Похожие товары</h2>
    <div class="swiper-use similar__top">
      <button class="btn-reset swiper-use__btn similar__btn-prev" aria-label="Предыдущий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#btn-prev"></use>
        </svg>
      </button>
      <button class="btn-reset swiper-use__btn similar__btn-next" aria-label="Следующий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#btn-next"></use>
        </svg>
      </button>
    </div>
    <div class="swiper similar-swiper">
      <ul class="list-reset swiper-wrapper similar__list">
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,5</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-R-85.png" width="251" height="105"
                alt="Диван велюровый R-85">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван велюровый<br> &rsquo;&rsquo;R-85&rsquo;&rsquo;</h3>
              <span class="product__price">34 990 руб</span>
              <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,6</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-H-58.png" width="233" height="133"
                alt="Диван флоковый H-58">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван флоковый<br> &rsquo;&rsquo;H-58&rsquo;&rsquo;</h3>
              <span class="product__price">23 990 руб</span>
              <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,6</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-S-44.png" width="275" height="109"
                alt="Диван велюровый S-44">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван велюровый<br> &rsquo;&rsquo;S-44&rsquo;&rsquo;</h3>
              <span class="product__price">19 990 руб</span>
              <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,8</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-V-43.png" width="266" height="130"
                alt="Диван шиниловый V-43">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван шиниловый<br> &rsquo;&rsquo;V-43&rsquo;&rsquo;</h3>
              <span class="product__price">19 990 руб</span>
              <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,8</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-D-31.png" width="262" height="103"
                alt="Диван тканевый D-31">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван тканевый<br> &rsquo;&rsquo;D-31&rsquo;&rsquo;</h3>
              <span class="product__price">28 490 руб</span>
              <a href="/D-31.html" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,8</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-Y-68.png" width="257" height="125"
                alt="Диван велюровый Y-68">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван велюровый<br> &rsquo;&rsquo;Y-68&rsquo;&rsquo;</h3>
              <span class="product__price">22 990 руб</span>
              <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide product similar__item">
          <article class="product__article">
            <div class="product__grade">
              <img class="product__grade-star" loading="lazy" src="../img/raiting/raiting-star.svg" width="15"
                height="15" alt="Звезда">
              <span class="product__grade-number">4,8</span>
            </div>
            <picture class="product__pic">
              <img class="product__image" loading="lazy" src="../img/raiting/raiting-W-95.png" width="265" height="117"
                alt="Диван из шинила W-95">
            </picture>
            <div class="product__wrap similar__item-content">
              <h3 class="product__subtitle">Диван из шинила<br> &rsquo;&rsquo;W-95&rsquo;&rsquo;</h3>
              <span class="product__price">22 990 руб</span>
              <a href="#" class="btn-reset btn btn--fill product__btn" aria-label="Купить диван">Купить</a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
