<section class="top" id="top">
  <div class="container">
    <h2 class="title top__title">Топ категории</h2>
    <ul class="list-reset top__list">
      <li class="top__item">
        <ul class="list-reset subcategory">
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Прямые</a>
          </li>
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Угловые</a>
          </li>
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Модульные</a>
          </li>
        </ul>
        <h3 class="top__subtitle">Диваны
          <a href="#" class="top__subtitle-link">
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </a>
        </h3>
        <picture>
          <source srcset="../img/top/top-sofa-320.png" media="(max-width: 410px)">
          <img class="top__image top__image--sofa" loading="lazy" src="../img/top/top-sofa.png" width="515" height="308"
            alt="Пример дивана">
        </picture>
        <a href="/catalog.html" class="top__link">
          В каталог
          <span>
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="top__item">
        <ul class="list-reset subcategory">
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Мягкие</a>
          </li>
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Кресла-кровати</a>
          </li>
        </ul>
        <h3 class="top__subtitle top__subtitle--adaptive">Кресла
          <a href="#" class="top__subtitle-link">
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </a>
        </h3>
        <picture>
          <source srcset="../img/top/top-armchairs-320.png" media="(max-width: 410px)">
          <source srcset="../img/top/top-armchairs-1024.png" media="(max-width: 1330px)">
          <img class="top__image top__image--adaptive-armchairs" loading="lazy" src="../img/top/top-armchairs.png"
            width="515" height="308" alt="Пример кресла">
        </picture>
        <a href="/catalog.html" class="top__link">
          В каталог
          <span>
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="top__item">
        <ul class="list-reset subcategory">
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Односпальные</a>
          </li>
          <li class="subcategory__item">
            <a href="#" class="subcategory__link">Двуспальные</a>
          </li>
        </ul>
        <h3 class="top__subtitle top__subtitle--adaptive">Кровати
          <a href="#" class="top__subtitle-link">
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </a>
        </h3>
        <picture>
          <source srcset="../img/top/top-bed-320.png" media="(max-width: 410px)">
          <source srcset="../img/top/top-bed-1024.png" media="(max-width: 1330px)">
          <img class="top__image" loading="lazy" src="../img/top/top-bed.png" width="306" height="202"
            alt="Пример кровати">
        </picture>
        <a href="/catalog.html" class="top__link">
          В каталог
          <span>
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="top__item">
        <ul class="list-reset subcategory">
          <li class="subcategory__item subcategory__item--dresser">
            <a href="#" class="subcategory__link">Тумбы</a>
          </li>
          <li class="subcategory__item subcategory__item--dresser">
            <a href="#" class="subcategory__link">Комоды</a>
          </li>
        </ul>
        <h3 class="top__subtitle top__subtitle--adaptive">Тумбы и комоды
          <a href="#" class="top__subtitle-link top__subtitle-link--mobile">
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </a>
        </h3>
        <picture>
          <source srcset="../img/top/top-dresser-320.png" media="(max-width: 410px)">
          <source srcset="../img/top/top-dresser-1024.png" media="(max-width: 1330px)">
          <img class="top__image top__image--adaptive" loading="lazy" src="../img/top/top-dresser.png" width="330"
            height="202" alt="Пример комода">
        </picture>
        <a href="/catalog.html" class="top__link">
          В каталог
          <span>
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="top__item">
        <ul class="list-reset subcategory">
          <li class="subcategory__item subcategory__item--chair">
            <a href="#" class="subcategory__link">Деревянные</a>
          </li>
          <li class="subcategory__item subcategory__item--chair">
            <a href="#" class="subcategory__link">Металлокаркас</a>
          </li>
        </ul>
        <h3 class="top__subtitle top__subtitle--adaptive">Стулья
          <a href="#" class="top__subtitle-link">
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </a>
        </h3>
        <picture>
          <source srcset="../img/top/top-chair-320.png" media="(max-width: 410px)">
          <source srcset="../img/top/top-chair-1024.png" media="(max-width: 1330px)">
          <img class="top__image top__image--adaptive-chair" loading="lazy" src="../img/top/top-chair.png" width="258"
            height="202" alt="Пример стульев">
        </picture>
        <a href="/catalog.html" class="top__link">
          В каталог
          <span>
            <svg>
              <use xlink:href="img/sprite.svg#btn-next"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
